*{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    background-image: url(agent.jpg);
    background-size: cover;
    margin: auto;
    background-attachment: fixed;
}
.head{
    height: 80px;
    width: 100%;
    background-color:chartreuse; 
}
.head img{
    background-image: url(logo.jpg);
    height: 70px;
    width: 70px;
    padding: 5px;
    margin-left: 5px;
    float: left;
   
}
.head h1{
    font-size: 300%;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 100px;
}
.cat{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 15%;
    height: 65%;
    background-color:aquamarine;
    border-radius: 20px;
    position:fixed;
}
.cat h2{
    padding: 30px;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Chakra Petch', sans-serif;
}
.cat li{
    padding: 15px;
    font-size: 20px;
    margin-left: 10%;
    font-weight: 500;
    font-style:italic;
    list-style: none;
    position: relative;
}
.cat a{
    text-decoration:aliceblue;

}
.agent1{
   
    margin-left: 30%;
    margin-top: 5%;
    width: 40%;
    height: 45%;
    background-color:white;
    border-radius: 20px;
    position:absolute;
    top: 150px;
    left: 100px;
}
.agent1 li{
   
    font-size: 20px;
    padding: 2px;
    height: 20%;
    margin-left: 40%;
    margin-top: 5%;
    font-weight: 500;
    font-style:italic;
    list-style:none ;
}
.but{
    text-align:center;
}
.agent2{
   
    margin-left: 30%;
    margin-top: 5%;
    width: 40%;
    height: 45%;
    background-color:white;
    border-radius: 20px;
    position:absolute;
    top: 600px;
    left: 100px;
}
.agent2 li{
   
    font-size: 20px;
    padding: 2px;
    height: 20%;
    margin-left: 40%;
    margin-top: 5%;
    font-weight: 500;
    font-style:italic;
    list-style:none ;
}
.butt{
    text-align:center;
}

.agent3{
   
    margin-left: 30%;
    margin-top: 5%;
    width: 40%;
    height: 45%;
    background-color:white;
    border-radius: 20px;
    position:absolute;
    top: 1050px;
    left: 100px;
}
.agent3 li{
   
    font-size: 20px;
    padding: 2px;
    height: 20%;
    margin-left: 40%;
    margin-top: 5%;
    font-weight: 500;
    font-style:italic;
    list-style:none ;
}
.buttt{
    text-align:center;
}

.agent4{
   
    margin-left: 30%;
    margin-top: 5%;
    width: 40%;
    height: 45%;
    background-color:white;
    border-radius: 20px;
    position:absolute;
    top: 1500px;
    left: 100px;
}
.agent4 li{
   
    font-size: 20px;
    padding: 2px;
    height: 20%;
    margin-left: 40%;
    margin-top: 5%;
    font-weight: 500;
    font-style:italic;
    list-style:none ;
}
.butttt{
    text-align:center;
}

.agent1 img{
    background-image: url(work1.jpg);
    height: 150px;
    width: 150px;
    margin-left: 30px;
    margin-top: 20px;
    float: left;
}
.agent2 img{
    background-image: url(work2.jpg);
    height: 150px;
    width: 150px;
    margin-left: 30px;
    margin-top: 20px;
    float: left;
}
.agent3 img{
    background-image: url(work3.jpg);
    height: 150px;
    width: 150px;
    margin-left: 30px;
    margin-top: 20px;
    float: left;
}
.agent4 img{
    background-image: url(work1.jpg);
    height: 150px;
    width: 150px;
    margin-left: 30px;
    margin-top: 20px;
    float: left;
}


