*{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    background-image: url(pestback.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
}
.head{
    height: 80px;
    width: 100%;
    background-color:chartreuse; 
}
.head img{
    background-image: url(logo.jpg);
    height: 70px;
    width: 70px;
    padding: 5px;
    margin-left: 5px;
    float: left;
   
}
.head h1{
    font-size: 300%;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 100px;
}
.cat{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 15%;
    height: 65%;
    background-color:aquamarine;
    border-radius: 20px;
    position:fixed;
}
.cat h2{
    padding: 30px;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Chakra Petch', sans-serif;
}
.cat li{
    padding: 15px;
    font-size: 20px;
    margin-left: 10%;
    font-weight: 500;
    font-style:italic;
    list-style: none;
    position: relative;
}
.cat a{
    text-decoration:aliceblue;

}

.pestexo{
   
    margin-left: 30%;
    margin-top: 5%;
    width: 50%;
    height: 45%;
    background-color:white;
    border-radius: 20px;
    position:absolute;
    top: 150px;
    left: 100px;
}
.pestexo li{
   
    font-size: 20px;
    padding: 2px;
    height: 20%;
    margin-left: 40%;
    margin-top: 1%;
    font-weight: 500;
    font-style:italic;
    list-style:none ;
}
.but{
    text-align:center;
}

.pestmag{
   
    margin-left: 30%;
    margin-top: 5%;
    width: 50%;
    height: 45%;
    background-color:white;
    border-radius: 20px;
    position:absolute;
    top: 600px;
    left: 100px;
}
.pestmag li{
   
    font-size: 20px;
    padding: 2px;
    height: 20%;
    margin-left: 40%;
    margin-top: 1%;
    font-weight: 500;
    font-style:italic;
    list-style:none ;
}
.butt{
    text-align:center;
}

.pesttsr{
   
    margin-left: 30%;
    margin-top: 5%;
    width: 50%;
    height: 50%;
    background-color:white;
    border-radius: 20px;
    position:absolute;
    top: 1050px;
    left: 100px;
}
.pesttsr li{
   
    font-size: 20px;
    padding: 2px;
    height: 20%;
    margin-left: 40%;
    margin-top: 1%;
    font-weight: 500;
    font-style:italic;
    list-style:none ;
}
.buttt{
    text-align:center;
}

.pestneem{
   
    margin-left: 30%;
    margin-top: 5%;
    width: 50%;
    height: 50%;
    background-color:white;
    border-radius: 20px;
    position:absolute;
    top: 1500px;
    left: 100px;
}
.pestneem li{
   
    font-size: 20px;
    padding: 2px;
    height: 20%;
    margin-left: 40%;
    margin-top: 1%;
    font-weight: 500;
    font-style:italic;
    list-style:none ;
}
.butttt{
    text-align:center;
}
.pestexo img{
    background-image: url(pestexo.jpg);
    height: 220px;
    width: 120px;
    margin-left: 45px;
    margin-top: 40px;
    float: left;
}

.pestmag img{
    background-image: url(pestmag.jpg);
    height: 220px;
    width: 120px;
    margin-left: 45px;
    margin-top: 40px;
    float: left;
}

.pesttsr img{
    background-image: url(pesttsr.jpg);
    height: 220px;
    width: 120px;
    margin-left: 45px;
    margin-top: 40px;
    float: left;
}

.pestneem img{
    background-image: url(pestneem.jpg);
    height: 220px;
    width: 120px;
    margin-left: 45px;
    margin-top: 40px;
    float: left;
}